/*@import './base.css';*/

:root {
  --color-bg: #191919;
  --color-bg-aside: #252525;
  --color-text: #d4d4d4;

  --color-button-bg: transparent;
  --color-button-border: #373737;
  --color-button-bg-hover: #2f2f2f;
  --color-button-border-hover: #4a4a4a;
  --color-button-bg-focus: #202020;
  --color-button-border-focus: #3d3d3d;

  --color-input-bg: #2c2c2c;
  --color-input-border: #262626;
  --color-input-border-focus: #275d94;
  --color-input-outline-focus: #214364;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button, input {
  border-radius: .4rem;
  padding: .5rem .7rem;
  font-size: .95rem;
  color: inherit;
  font-family: inherit;
}

button {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-border);
  cursor: pointer;
}
button:hover {
  background-color: var(--color-button-bg-hover);
  border: 1px solid var(--color-button-border-hover);
}
button:active, button:focus-visible {
  background-color: var(--color-button-bg-focus);
  border: 1px solid var(--color-button-border-focus);
  outline: none;
  transform: translateY(1px) scale(.975);
  transition-duration: .1s;
}

input {
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
}
input:active, input:focus-visible {
  border: 1px solid var(--color-input-border-focus);
  outline: 2px solid var(--color-input-outline-focus);
}